[general]
pubg_screenshots=C:\\Program Files (x86)\\Steam\\userdata\\00000000\\000\\remote\\578080\\screenshots
pubg_season=division.bro.official.pc-2018-03
pubg_api_key=xxxxxxxx
ignored_players=player1 player2 player3 player4 player5